* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5%;
}

