/* styles for the pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-center {
    text-align: center;
}

html,
body {
    height: 100%;

}

body {
    background-image: url(../images/purple\ running.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.button {
    position: absolute;
    top: 60%;
    left: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 23px;
    width: 25%;
    padding: 0.5rem 1rem;
    box-shadow: 2 4px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease-in-out;

}

.button:hover {
    transform: scale(1.4);
}

h1 {
    font-family: 'Aoboshi One', serif;
    font-size: 6rem;
    position: absolute;
    top: 10%;
    left: 5%
}

.motivation {
    float: right;
    position: absolute;
    top: 15%;
    left: 72%;
    padding-right: 10px;
    font-size: 1rem;
    color: black;
}

.quote {
    display: block;

}

.author {
    display: block;
    float: right;
}

@media (max-width: 2000px) {
    h1 {
        font-size: 5rem;
    }
    .motivation{
        font-size: 1.5rem;
    }
    
}

@media (max-width: 1000px) {
    h1 {
        font-size: 4rem;
    }
    .motivation{
        font-size: 1rem;
    }
    
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    .motivation{
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    .motivation{
        font-size: .7rem;
    }
}
